<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#/">Robotica App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li ng-class="mInicio"><a href="#/">Inicio</a></li>
            <li ng-class="mCultivar"><a href="#/cultivar">Cultivar</a></li>
            <li ng-class="mImportar">
              <a href="#/importar">
                <i class="fas fa-users"></i>
                  Importar
              </a>
            </li>
            <li ng-class="mPoblacion"><a href="#/poblacion">Poblaci&oacuten</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
